@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft.ttf') format('truetype');
}

@font-face {
  font-family: 'AWOG';
  src: url('../fonts/04B_30__.TTF') format('truetype');
}

html {
    margin: 0;                
    height: 100vh;             
    background-color: black;   
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;  
    background-position: center center;  
    background-size: contain; 
}

header {
    text-align: center;
    font-family: 'AWOG';
    color: orange;
    font-size: 75px;
}

.center{
    align-content: center;
}

.section-title{
    flex: 1.5;
    font-family: 'AWOG';
    font-size: 2rem;
    padding-left: 20px;
}

.taskbar{
    display: flex;
    align-items: center;
    padding: 8px;
}

.actions{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#todo-list {
    display: flex;
    flex-direction: column;
    background-color: #D7B899;
    text-align: center;
    color: #5C3A21;
    padding: 8px;
    height: 775px;
    width: 800px;
    margin: 25px auto 25px auto;
}

#tasklist{
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #FFF9E7;
    color: rgb(0, 0, 0);
    max-width: 800px;
    height: 800px;
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 7px;
    margin: 1.5px;
    padding: 15px;
}

.tasks{
    text-indent: 20px;
    font-family: 'Minecraft';
    color:#4B3B2A;
    font-size: 1.5rem;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

button {
  background-color: #A1866F;
  font-family: 'Minecraft';
  color: #EED9C4;                
  padding: 10px;    
  border: none;                
  border-radius: 5px;          
  cursor: pointer;            
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover{
    background-color: #7C5C44;
}